/* badge styles */

.badge {
  max-width:fit-content;
  border-radius: var(--border-radius);
  background-color: var(--primary-green);
  margin: 0.5rem;
  padding: 0 0.5rem;
  line-height: 1.5;


  .badgeText {
    font-size: 0.75em;
    font-weight: 300;

    color: var(--complimentary-blue);
  }
}