/* card onlt styles */

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
  margin-top: 2rem;
  margin-inline: auto;
}

.cardHeader {
  position: relative;
  background-color: var(--green-medium);
  /* max-height: 80px; */
  padding-block: 1rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: var(--box-shadow);

  .cardBadge {
    position: absolute;
    top: 4px;
    right: 8px;
  }

  .cardTitle {
    text-align: center;
    color: var(--complimentary-purple-dark);
  }
}

img {
  margin-top: -16px;
}

.cardBody {
  padding: 0.75rem;
  background-color: var(--gray-medium);
  color: var(--primary-green);
}